<p><h1><%= @mensagem %> </h1></p>
<% if !@cars.empty? %>

<%= render 'cars' %>

<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>


<br />
<% end -%>
<br />
