<p id="notice"><%= notice %></p>
  

<% if defined? @cliente and @cliente.nil? %>
  <p>Nenhuma transação encontrada para este CPF! </p>

<% elsif defined? @empresa and @empresa.nil? %>
  <p>Nenhuma transação encontrada para este CNPJ! </p>

<% else -%> 
  

  <% if @cars_cpf %>
    <%= render 'cliente' %>
  <% elsif @cars_cnpj %>
    <%= render 'empresa' %>
  <% end -%>

<% end -%>


