<p id="notice"><%= notice %></p>
  

<% if defined? @cliente and @cliente.nil? %>
  <p><h1>Nenhuma transação encontrada para este CPF!</h1> </p>

<% elsif defined? @empresa and @empresa.nil? %>
  <p><h1>Nenhuma transação encontrada para este CNPJ! </h1></p>

<% else -%> 
  

  <% if @cars_cpf %>
    <%= render 'cliente' %>
  <% elsif @cars_cnpj %>
    <%= render 'empresa' %>
  <% end -%>

<% end -%>


