<% if user_signed_in? %>
  <li>
  <%= link_to('Editar Registro |', edit_user_registration_path, :class => "my-account") %>
  </li>
  <li>
  <%= link_to('Registrar Novo Usuário |', new_user_registration_path, :class => 'my-account')  %>
  </li>
<% end %>