
<p><h1>Lista de Administradores</h1></p>
<%= render "users_tables", :users => @admins %>
<br>
<div style="clear: both;"></div>

<p><h1>Lista de Usuários</h1> </p>
<%= render "users_tables", :users => @users %>
