<div class="floating-left" width = "1000px">
<table id="parceiros" class="display">
  <thead><tr>
    <th width = "1px">Nº</th>
      <th width = "140px"> CPF/CNPJ</th>
      <th>Nome</th>
      <th>Contato</th>
      <th width = "100px">Telefone</th>
      <th >Carros</th>
      <th width = "120px">Frete Total<br>dos Carros</th>
      <% if current_user.admin? %>
          <th width = "120px">Ações</th>
      <% end -%>
    </tr>
    </thead>
<tbody><% x = 0%>

<% @parceiros.each_with_index do |parceiro, index| %>

  <tr>
    <td class = "<%= @row_class %>"> <%= index + 1 %>. </td>
    <td class = "<%= @row_class %>">
      <%= parceiro.cpf.empty? ? link_to(parceiro.cnpj, parceiro) : link_to(parceiro.cpf, parceiro) %>
    </td>
    <td class = "<%= @row_class %>"><%= parceiro.nome %> </td>
    <td class = "<%= @row_class %>"><%= parceiro.contato %> </td>
    <td class = "<%= @row_class %>"><%= parceiro.telefone %> </td>
    <td> <%= (carros_com_parceiro(parceiro)).html_safe %> </td>
    <td><%= number_to_currency(parceiro.total_freight) %></td>
    <% if current_user.admin? %>
    <td class = "<%= @row_class %>"><%= link_to image_tag("details.png", :border=>0, :mouseover => "details_black.png", :title => "Ver Detalhes"), parceiro %> &nbsp;
        <%= link_to image_tag("edit.png", :border=>0, :alt => "Editar", :mouseover => "edit_black.png", :title => "Editar Entrada"), edit_parceiro_path(parceiro) %> &nbsp;
        <%= link_to image_tag("delete-item.png", :border=>0, :mouseover => "delete-item_red.png", :title => "Apagar Entrada"), parceiro, confirm: 'Tem certeza que deseja apagar a venda? Esta ação é irreversível!', method: :delete %>
    <% end -%>

  </tr>
<% end %></tbody>
</table>
</div>
