<p><h1><%= @mensagem %> </h1></p>
<% if !@parceiros.empty? %>

<%= render 'parceiros' %>

<br />

<% end -%>
<div style="clear: both;"></div>

<% if current_user.admin? %>
  <%= button('Adicionar Parceiro', new_parceiro_path)%>

<% end -%>
