- if !current_user.admin?
  Desculpe, você precisa ter direitos administrativos para visualizar esta página!
- else
  %h1
    Editando Dados

  - if @editar_localizacao
    = render 'editar_localizacao'
  - else
    = render 'form'