<span style="float:left;"> <p><h1><%= @mensagem %> </h1></p></span>
<% if !@cars.empty? %>

<%= render 'cars' %>

<br />
<% end -%>
<br />
<div style="clear: both;"></div>
<div class = 'floating_box'>
<% if current_user.admin? %>
  <%= button('Novo Cliente (Pessoa Física)', new_car_path)%>
  <%= button('Novo Cliente (Pessoa Jurídica)', :action => :new, :pessoa_juridica => true)%>
<% end -%>
</div>
