%p
  %h1= @mensagem
-if !@cars.empty?
  = render 'cars'

- elsif current_user.admin?
  = link_to 'Novo Cliente (Pessoa Física)', new_car_path, :class => :button
  = link_to 'Novo Cliente (Pessoa Jurídica)', {:action => :new, :pessoa_juridica => true}, :class => :button
