.page-break { 
  clear: both !important;
  display: block !important;
  page-break-before: always !important;
}
table, tr, td, th, tbody, thead, tfoot {

}

@media print {
 #container {
        width: auto;
        margin: 0;
        padding: 0;
        border: none;
    }

  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
}

 #line items {
    clear: both; page-break-before: always;

}
#mytable {
  width: 980px;
  padding: 0;
  margin: 0;
  float:left;
  margin: 20px 15px 10px 10px;
}

#mytable th.none {
  background: #fff;
  color: black;
  border: none;
  padding:0;
}

#mytable th {
  color: #4f6b72;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  text-align: center;
  padding: 0;
  background: #CAE8EA  no-repeat;
  cursor: default;
  font-size: 12px;

}


th.begin {
  border-left: 1px solid #C1DAD7;
  min-width: 30px;
}
th.nobg {
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #C1DAD7;
  background: none;
}

tr {
  height: 15px;
  font-size: 12px;
}

td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  padding: 0;
  color: #4f6b72;
  height: 100%;
  font-size: 12px;
}
td a:link {
  text-decoration: none;

}
td a:visited{
  text-decoration: none;
}

td.total {
    color: #4f6b72;
    background: #CAE8EA  no-repeat;

}

td.begin,
td.begin_total {
  border-left: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;

  padding: 0;
  color: #4f6b72;
}

td.begin_total {
    background: #CAE8EA  no-repeat;
    text-transform: uppercase;
    text-align: left;
}

td.alt {
  background: #e0efef;
  color: #797268;
}

th a:link {
  text-decoration: none;
    color: #4f6b72;

}

td.nao-pago a {
  color: #F00;
  text-decoration: none;

}

td.nao-pago a:hover {
  text-decoration: none;
}



td.nao-pago {

  color: #F00;
}

td.pendente {
  background: #fbf9be;
  color: black;
}

td.none {
  background: #fff;
  color: black;
  border: none;
  padding:0;

}



td.pendente a {
  background: #fbf9be;
  color: black;
  text-decoration: none;

}


th.spec {
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  background: #fff url(images/bullet1.gif) no-repeat;
}

th.specalt {
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  background: #f5fafa url(images/bullet2.gif) no-repeat;
  color: #797268;
}

h5 {
  font-size: 1.6em;
  margin: 5px 0 0 2px;
  font-style: italic;
}

p.margin_left {
  margin-left: 2px;
  font-size:12px;
}

p {

   font-size:12px;
}
hr.small{
    width:980px;
    float: left;
    text-align: left;
}

.floating_box {
  width: 1000px;
  margin: 0;
  min-height: 250px;
  margin-bottom: 10px; }

.floating_box_small {
  width: 1000px;
  margin: 0;
  min-height: 130px;
  margin-bottom: 10px; }

.floating-left {
  width: 1250px;
  float: left; }

.floating_form {
  width: 500px;
  float: left; }


/*-------- texto ---------) */
.right {
  float: right;
}

.financeiros {
  border: 2px solid #E4E4E4;
  width:350px;
  float:left;
  height: 280px;
  margin-right:30px;
}


#blank th {
  text-align: left;
  padding:0;
  border: none;
}

#blank th.last {
  padding-bottom: 5px;
}

#blank td.last {
  padding-bottom: 5px;
}

#blank tr {
  padding:0px 0px 0px 4px;
}

#blank td {
  text-align: left;
  padding-left:3px;
  border: none;
  height: 0;
}

