<p><h1>Editando Cegonha</h1></p>
<%if @editar_localizacao %>
  <%= render 'editar_localizacao' %>
<% else %>
  <%= render 'form' %>
<% end %>
<%= link_to 'Detalhes', @cegonha %> |
<%= link_to 'Voltar', cegonhas_path %>
