- if !current_user.admin?
  Desculpe, você precisa ter direitos administrativos para visualizar esta página!
- else
  %p
    %h1
      Editando Cegonha
  - if params[:edit_location]
    = render 'editar_localizacao'
  - elsif params[:logistics]
    = render 'logistics'
  - else
    = render 'form'