<!DOCTYPE html>
<html>
<head>
<meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
  <title>Controle de Transporte</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div id='wrapper'>
  <%= pdf_image_tag('/app/assets/images/logo.png', :style=>"margin:0px;padding:0px")%>

<p id="notice"><%= notice %></p>

<p><b>DETALHES DA CEGONHA</b> </p>
<table id="mytable" cellspacing="0" summary="Detalhes da Cegonha" style="width:600px">  
  <tr>
    <th style="width:150px">Placa da Cegonha</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @cegonha.placa %> </td>
  </tr>  

  <% if @cegonha.empresa %>
    <tr>
      <th>Pertencente à Empresa</th>
      <td> <%= @cegonha.empresa.nome %></td>
    </tr>
  <% end %>

  <tr>
    <th>Carros na Cegonha</th>
    <td> <%= raw(carros_na_cegonha(@cegonha)).html_safe %></td>
  </tr>
  <tr>
    <th>Localização Atual</th>
    <td><%= @cegonha.localizacao %></td>
  </tr>
  <% unless @cegonha.cidade_origem.nil? && @cegonha.estado_origem.nil? %>
  <tr>
    <th>Origem</th>
    <td><%= Cidade.find(@cegonha.cidade_origem).text %>, <%= Estado.find(@cegonha.estado_origem).sigla %></td>
  </tr>
  <% end -%>
  <% unless @cegonha.cidade_origem.nil? && @cegonha.estado_origem.nil? %>
  <tr>
    <th>Destino</th>
    <td><%= Cidade.find(@cegonha.cidade_destino).text %>, <%= Estado.find(@cegonha.estado_destino).sigla %></td>
  </tr>
  <% end -%>
  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @cegonha.observacao %></td>
  </tr>
  <tr>  
</table>


<p><b>DETALHES DO MOTORISTA</b> </p>
<table id="mytable" cellspacing="0" summary="Detalhes do Motorista" style="width:600px">  
  <tr>
    <th style="width:150px">Nome</th>
    <td style='border-top: 1px solid #C1DAD7;'><%= @cegonha.motorista.nome %> </td>
  
  <tr>
    <th>RG</th>
    <td> <%= @cegonha.motorista.rg %></td>
  </tr>
  <tr>
    <th>CPF</th>
    <td><%= @cegonha.motorista.cpf %></td>
  </tr>
  <tr>
    <th>Telefone</th>
    <td><%= @cegonha.motorista.telefone %></td>
  </tr>
  <tr>
    <th>Celular</th>
    <td><%= @cegonha.motorista.celular %></td>
  </tr>
  <tr>
    <th>E-Mail</th>
    <td><%= @cegonha.motorista.email %></td>
  </tr>
  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @cegonha.motorista.observacao %></td>
  </tr>
  
</table>
<%if @cegonha.empresa %>
<br />
  <p><b>DETALHES DO FRETE DA EMPRESA CONTRATADA</b></p>


<table id="mytable" cellspacing="0" summary="Detalhes do Frete da Empresa" style="width:600px">  


<tr>
    <th style="width:180px">Valor do Frete</th>
    <td style='border-top: 1px solid #C1DAD7;'> <%= number_to_currency(@cegonha.pagamento.valor_frete) %></td>
  </tr>

<tr>
    <th>Taxa de Redespacho</th>
    <td><%= number_to_currency(@cegonha.pagamento.taxa_despacho) %></td>
</tr>

<tr>
    <th>Taxa de Plataforma</th>
    <td><%= number_to_currency(@cegonha.pagamento.taxa_plataforma) %></td>
</tr>

<tr>
    <th>Desconto</th>
    
    <td>-<%= number_to_currency(@cegonha.pagamento.desconto) %></td>
</tr>

<tr>
    <th>Valor Pago</th>
    <td>-<%= number_to_currency(@cegonha.pagamento.valor_pago) %></td>
</tr>
  
<tr>
    <th>Valor Total</th>
    <td><%= number_to_currency(@cegonha.pagamento.valor_total) %></td>
</tr> 

  <tr>
    <th>Saldo Devedor</th>
    <td><%= number_to_currency(@cegonha.pagamento.saldo_devedor) %></td>
  </tr>

  <tr>
    <th>Forma de Pagamento</th>
    <td><%= @cegonha.pagamento.forma_pagamento %></td>
  </tr>

  <tr> 
    <th style = "height:50px">Observação</th>
    <td><%= @cegonha.pagamento.observacao %></td>
  </tr>



</table>
<% end -%>
<br />

</div>

<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'default' %>
<%= stylesheet_link_tag 'devise' %>
</body>
</html>

